interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.courtlistener.com/api/rest/v4/dockets/260804/
  response:
    body:
      string: '{"resource_uri":"https://www.courtlistener.com/api/rest/v4/dockets/260804/","id":260804,"court":"https://www.courtlistener.com/api/rest/v4/courts/cafc/","court_id":"cafc","original_court_info":null,"idb_data":null,"clusters":["https://www.courtlistener.com/api/rest/v4/clusters/2673149/"],"audio_files":[],"assigned_to":null,"referred_to":null,"absolute_url":"/docket/260804/oracle-america-inc-v-google-inc/","date_created":"2014-10-30T00:59:29.076291-07:00","date_modified":"2023-08-31T00:18:49.383005-07:00","source":16,"appeal_from_str":"","assigned_to_str":"","referred_to_str":"","panel_str":"","date_last_index":null,"date_cert_granted":null,"date_cert_denied":null,"date_argued":null,"date_reargued":null,"date_reargument_denied":null,"date_filed":null,"date_terminated":null,"date_last_filing":null,"case_name_short":"","case_name":"Oracle
        America, Inc. v. Google Inc.","case_name_full":"","slug":"oracle-america-inc-v-google-inc","docket_number":"2013-1021,
        2013-1022","docket_number_core":"","pacer_case_id":"","cause":"","nature_of_suit":"","jury_demand":"","jurisdiction_type":"","appellate_fee_status":"","appellate_case_type_information":"","mdl_status":"","filepath_ia":"","filepath_ia_json":"","ia_upload_failure_count":null,"ia_needs_upload":null,"ia_date_first_change":null,"date_blocked":null,"blocked":false,"appeal_from":null,"tags":[],"panel":[]}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 200
      message: OK
version: 1
