interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.case.law/v1/cases/?cite=9+F.+Cas.+50
  response:
    body:
      string: '{"count":2,"next":null,"previous":null,"results":[{"id":11638634,"url":"https://api.case.law/v1/cases/11638634/","name":"FIKES
        v. BENTLEY","name_abbreviation":"Fikes v. Bentley","decision_date":"1828-05","docket_number":"Case
        No. 4,785a","first_page":"50","last_page":"50","citations":[{"type":"official","cite":"9
        F. Cas. 50"}],"volume":{"url":"https://api.case.law/v1/volumes/32044054565676/","volume_number":"9","barcode":"32044054565676"},"reporter":{"url":"https://api.case.law/v1/reporters/942/","full_name":"Federal
        Cases","id":942},"court":{"url":"https://api.case.law/v1/courts/ark-super-ct-1/","name_abbreviation":"Ark.
        Super. Ct.","slug":"ark-super-ct-1","id":9132,"name":"Superior Court of the
        Territory of Arkansas"},"jurisdiction":{"id":34,"name_long":"Arkansas","url":"https://api.case.law/v1/jurisdictions/ark/","slug":"ark","whitelisted":true,"name":"Ark."},"cites_to":[],"frontend_url":"https://cite.case.law/f-cas/9/50/11638634/","frontend_pdf_url":"https://cite.case.law/pdf/11638634/Fikes%20v.%20Bentley,%209%20F.%20Cas.%2050%20(1828).pdf","preview":[],"analysis":{"word_count":89,"random_bucket":41872,"sha256":"b0c408f84bdee9e6ccfbbbf6059e6d12e645102b4b02a8b00557898dfb977271","ocr_confidence":0.436,"char_count":540,"random_id":906011536,"cardinality":71,"simhash":"1:33599e924329f030"},"last_updated":"2023-07-14T15:13:19.383329+00:00","provenance":{"date_added":"2019-08-29","batch":"2018","source":"Harvard"}},{"id":11638692,"url":"https://api.case.law/v1/cases/11638692/","name":"FILKINS
        et al. v. BLACKMAN","name_abbreviation":"Filkins v. Blackman","decision_date":"1876-06-30","docket_number":"Case
        No. 4,786","first_page":"50","last_page":"53","citations":[{"type":"official","cite":"9
        F. Cas. 50"},{"type":"parallel","cite":"13 Blatchf. 440"}],"volume":{"url":"https://api.case.law/v1/volumes/32044054565676/","volume_number":"9","barcode":"32044054565676"},"reporter":{"url":"https://api.case.law/v1/reporters/942/","full_name":"Federal
        Cases","id":942},"court":{"url":"https://api.case.law/v1/courts/ccd-conn/","name_abbreviation":"C.C.D.
        Conn.","slug":"ccd-conn","id":9297,"name":"United States Circuit Court for
        the District of Connecticut"},"jurisdiction":{"id":39,"name_long":"United
        States","url":"https://api.case.law/v1/jurisdictions/us/","slug":"us","whitelisted":false,"name":"U.S."},"cites_to":[],"frontend_url":"https://cite.case.law/f-cas/9/50/11638692/","frontend_pdf_url":"https://cite.case.law/pdf/11638692/Filkins%20v.%20Blackman,%209%20F.%20Cas.%2050,%2013%20Blatchf.%20440%20(1876).pdf","preview":[],"analysis":{"word_count":2622,"random_bucket":8943,"sha256":"b79648d07c1e4975a33fff7239d840c963a1f5f00b5031d4280a18e5f3b86d68","ocr_confidence":0.472,"char_count":14999,"random_id":2174755567,"pagerank":{"percentile":0.7289058165167158,"raw":1.8903104009857707e-07},"cardinality":608,"simhash":"1:b0a0fd39bf88a351"},"last_updated":"2023-07-14T15:13:19.383329+00:00","provenance":{"date_added":"2019-08-29","batch":"2018","source":"Harvard"}}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Disposition:
      - attachment; filename="CAP_2023-11-05 07:15:21.199428.json"
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 05 Nov 2023 07:15:21 GMT
    status:
      code: 200
      message: OK
version: 1
