interactions:
- request:
    body: reporter=F.3d&volume=49&page=807
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://www.courtlistener.com/api/rest/v4/citation-lookup/
  response:
    body:
      string: '[{"citation":"49 F.3d 807","normalized_citations":["49 F.3d 807"],"start_index":0,"end_index":11,"status":200,"error_message":"","clusters":[{"resource_uri":"https://www.courtlistener.com/api/rest/v4/clusters/691310/","id":691310,"absolute_url":"/opinion/691310/lotus-development-corporation-v-borland-international-inc/","panel":[],"non_participating_judges":[],"docket_id":2034691,"docket":"https://www.courtlistener.com/api/rest/v4/dockets/2034691/","sub_opinions":["https://www.courtlistener.com/api/rest/v4/opinions/691310/","https://www.courtlistener.com/api/rest/v4/opinions/9487893/","https://www.courtlistener.com/api/rest/v4/opinions/9487894/"],"citations":[{"volume":49,"reporter":"F.3d","page":"807","type":1},{"volume":34,"reporter":"U.S.P.Q. 2d (BNA)","page":"1014","type":4},{"volume":1995,"reporter":"U.S. App. LEXIS","page":"4618","type":6},{"volume":1995,"reporter":"WL","page":"94669","type":7}],"date_created":"2015-11-03T12:48:12.601703-08:00","date_modified":"2024-11-04T19:03:08.867144-08:00","judges":"Torruella, Boudin, Stahl","date_filed":"1995-03-09","date_filed_is_approximate":false,"slug":"lotus-development-corporation-v-borland-international-inc","case_name_short":"","case_name":"Lotus Development Corporation v. Borland International, Inc.","case_name_full":"LOTUS DEVELOPMENT CORPORATION, Plaintiff, Appellee, v. BORLAND INTERNATIONAL, INC., Defendant, Appellant","scdb_id":"","scdb_decision_direction":null,"scdb_votes_majority":null,"scdb_votes_minority":null,"source":"RU","procedural_history":"","attorneys":"Gary L. Rebaek, with whom Peter N. Det-kin, Michael Barclay, Isabella E. Fu, Wilson Sonsini Goodrich & Rosati, P.C., Palo Alto, CA, Peter E. Gelhaar, Katherine L. Parks, and Donnelly Conroy & Gelhaar, Boston, MA, were on brief for appellant., Matthew P. Poppel, Boston, MA, et ah, were on brief for Computer Scientists, ami-cus curiae., Dennis S. Karjala, Tempe, AZ, and Peter S. Menell, Berkeley, CA, on brief, amici curiae., Jeffrey C. Cannon and Baker Keaton Sei-bel & Cannon, Walnut Creek, CA, w[...]
