interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.case.law/v1/cases/?cite=15+Ill.%2C+284&full_case=true
  response:
    body:
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"id\":436826,\"url\":\"https://api.case.law/v1/cases/436826/\",\"name\":\"Benjamin
        F. Marsh et al., Appellants, v. The People, Appellees\",\"name_abbreviation\":\"Marsh
        v. People\",\"decision_date\":\"1853-12\",\"docket_number\":\"\",\"first_page\":\"284\",\"last_page\":\"288\",\"citations\":[{\"type\":\"official\",\"cite\":\"15
        Ill. 284\"}],\"volume\":{\"url\":\"https://api.case.law/v1/volumes/32044057891616/\",\"volume_number\":\"15\",\"barcode\":\"32044057891616\"},\"reporter\":{\"url\":\"https://api.case.law/v1/reporters/528/\",\"full_name\":\"Illinois
        Reports\",\"id\":528},\"court\":{\"url\":\"https://api.case.law/v1/courts/ill/\",\"name_abbreviation\":\"Ill.\",\"slug\":\"ill\",\"id\":8772,\"name\":\"Illinois
        Supreme Court\"},\"jurisdiction\":{\"id\":29,\"name_long\":\"Illinois\",\"url\":\"https://api.case.law/v1/jurisdictions/ill/\",\"slug\":\"ill\",\"whitelisted\":true,\"name\":\"Ill.\"},\"cites_to\":[{\"cite\":\"20
        Pick. 535\",\"category\":\"reporters:state\",\"reporter\":\"Pick.\",\"case_ids\":[2038890],\"opinion_id\":0}],\"frontend_url\":\"https://cite.case.law/ill/15/284/\",\"frontend_pdf_url\":\"https://cite.case.law/pdf/436826/Marsh%20v.%20People,%2015%20Ill.%20284%20(1853).pdf\",\"preview\":[],\"analysis\":{\"word_count\":1967,\"random_bucket\":29528,\"sha256\":\"415567ec5a085499c61aa3a23c88da0495fba99ead945f8b83f082635b83957e\",\"ocr_confidence\":0.622,\"char_count\":11581,\"random_id\":762671960,\"pagerank\":{\"percentile\":0.682774555582198,\"raw\":1.5951363999212521e-07},\"cardinality\":493,\"simhash\":\"1:23ef6d6062e4c080\"},\"last_updated\":\"2023-07-14T20:54:34.058491+00:00\",\"provenance\":{\"date_added\":\"2019-08-29\",\"batch\":\"2018\",\"source\":\"Harvard\"},\"casebody\":{\"status\":\"ok\",\"data\":{\"corrections\":\"\",\"parties\":[\"Benjamin
        F. Marsh et al., Appellants, v. The People, Appellees.\"],\"attorneys\":[\"C.
        B. Lawrence and S. T. Logan, for appellants.\",\"G. Edmunds and O. H. Browning,
        for appellees.\"],\"opinions\":[{\"author\":\"Treat, C. J.\",\"text\":\"Treat,
        C. J.\\nThis was an action of debt, brought in the name of the people to the
        use of English, administrator de bonis non of Wilcox, against Marsh, Felt,
        and Mellen, former administrators of Wilcox, and Chandler, Robinson, and Morris,
        their sureties, upon the administration bond. The declaration set forth the
        grant of administration to Marsh, Felt, and Mellen on the 12th of October,
        1839, the execution of the bond in question by the defendan[...]
