interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.case.law/v1/cases/?cite=460+F.+3d+337
  response:
    body:
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"id\":3674823,\"url\":\"https://api.case.law/v1/cases/3674823/\",\"name\":\"UNITED
        STATES of America, Appellant, v. Juan CASTILLO, Defendant-Appellee\",\"name_abbreviation\":\"United
        States v. Castillo\",\"decision_date\":\"2006-08-16\",\"docket_number\":\"Docket
        No. 05-3454-CR\",\"first_page\":\"337\",\"last_page\":\"361\",\"citations\":[{\"type\":\"official\",\"cite\":\"460
        F.3d 337\"}],\"volume\":{\"url\":\"https://api.case.law/v1/volumes/32044088363262/\",\"volume_number\":\"460\",\"barcode\":\"32044088363262\"},\"reporter\":{\"url\":\"https://api.case.law/v1/reporters/933/\",\"full_name\":\"Federal
        Reporter 3d Series\",\"id\":933},\"court\":{\"url\":\"https://api.case.law/v1/courts/2d-cir-2/\",\"name_abbreviation\":\"2d
        Cir.\",\"slug\":\"2d-cir-2\",\"id\":8778,\"name\":\"United States Court of
        Appeals for the Second Circuit\"},\"jurisdiction\":{\"id\":39,\"name_long\":\"United
        States\",\"url\":\"https://api.case.law/v1/jurisdictions/us/\",\"slug\":\"us\",\"whitelisted\":false,\"name\":\"U.S.\"},\"cites_to\":[{\"cite\":\"113
        F.3d 313\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[336495],\"pin_cites\":[{\"page\":\"324-25\"}],\"opinion_id\":0},{\"cite\":\"18
        U.S.C. \xA7 930\",\"category\":\"laws:leg_statute\",\"reporter\":\"U.S.C.\",\"opinion_id\":0},{\"cite\":\"49
        U.S.C. \xA7 46505\",\"category\":\"laws:leg_statute\",\"reporter\":\"U.S.C.\",\"opinion_id\":0},{\"cite\":\"924
        F.2d 454\",\"category\":\"reporters:federal\",\"reporter\":\"F.2d\",\"case_ids\":[10542967],\"pin_cites\":[{\"page\":\"460\"}],\"opinion_id\":0},{\"cite\":\"440
        F.3d 711\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[81762],\"pin_cites\":[{\"page\":\"720\"}],\"opinion_id\":0},{\"cite\":\"452
        F.3d 127\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[6047197],\"pin_cites\":[{\"page\":\"133\"}],\"opinion_id\":0},{\"cite\":\"2006
        U.S.App. LEXIS 19789\",\"category\":\"reporters:specialty_lexis\",\"reporter\":\"U.S.
        App. LEXIS\",\"weight\":3,\"year\":2006,\"pin_cites\":[{\"page\":\"*9\"},{\"parenthetical\":\"describing
        such individualized judgment as part of \\\"the historic role of sentencing
        judges\\\"\"},{\"page\":\"*7\"}],\"opinion_id\":0},{\"cite\":\"2006 WL 2167171\",\"category\":\"reporters:specialty_west\",\"reporter\":\"WL\",\"weight\":2,\"year\":2006,\"pin_cites\":[{\"page\":\"*3\"},{\"page\":\"*2\"}],\"opinion_id\":0},{\"cite\":\"460
        F.3d 191\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[3674743],\"year\":2006,\"pin_cites\":[{\"page\":\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.case.law/v1/cases/3675682/
  response:
    body:
      string: "{\"id\":3675682,\"url\":\"https://api.case.law/v1/cases/3675682/\",\"name\":\"KIMBROUGH
        v. UNITED STATES\",\"name_abbreviation\":\"Kimbrough v. United States\",\"decision_date\":\"2007-12-10\",\"docket_number\":\"No.
        06-6330\",\"first_page\":\"85\",\"last_page\":\"116\",\"citations\":[{\"type\":\"official\",\"cite\":\"552
        U.S. 85\"},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.case.law/v1/cases/?cite=18+U.+S.+C.+%C2%A7+3742
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Disposition:
      - attachment; filename="CAP_2023-11-05 07:20:10.502576.json"
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 05 Nov 2023 07:20:10 GMT
    status:
      code: 200
      message: OK
version: 1
