interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.case.law/v1/cases/?cite=1+Breese+34&full_case=true
  response:
    body:
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"id\":435800,\"url\":\"https://api.case.law/v1/cases/435800/\",\"name\":\"John
        Thornton and others, Appellants, v. George Smiley and John Bradshaw, Appellees\",\"name_abbreviation\":\"Thornton
        v. Smiley\",\"decision_date\":\"1820-12\",\"docket_number\":\"\",\"first_page\":\"34\",\"last_page\":\"34\",\"citations\":[{\"type\":\"nominative\",\"cite\":\"1
        Breese 34\"},{\"type\":\"official\",\"cite\":\"1 Ill. 34\"}],\"volume\":{\"url\":\"https://api.case.law/v1/volumes/32044057891608/\",\"volume_number\":\"1\",\"barcode\":\"32044057891608\"},\"reporter\":{\"url\":\"https://api.case.law/v1/reporters/528/\",\"full_name\":\"Illinois
        Reports\",\"id\":528},\"court\":{\"url\":\"https://api.case.law/v1/courts/ill/\",\"name_abbreviation\":\"Ill.\",\"slug\":\"ill\",\"id\":8772,\"name\":\"Illinois
        Supreme Court\"},\"jurisdiction\":{\"id\":29,\"name_long\":\"Illinois\",\"url\":\"https://api.case.law/v1/jurisdictions/ill/\",\"slug\":\"ill\",\"whitelisted\":true,\"name\":\"Ill.\"},\"cites_to\":[{\"cite\":\"15
        Ill., 284\",\"category\":\"reporters:state\",\"reporter\":\"Ill.\",\"case_ids\":[436826],\"opinion_id\":0}],\"frontend_url\":\"https://cite.case.law/ill/1/34/\",\"frontend_pdf_url\":\"https://cite.case.law/pdf/435800/Thornton%20v.%20Smiley,%201%20Ill.%2034,%201%20Breese%2034%20(1820).pdf\",\"preview\":[],\"analysis\":{\"word_count\":507,\"random_bucket\":25363,\"sha256\":\"412a5868090a78bd542b342b22d9ddec52f50626ada258b640a15a2e6a7c78fe\",\"ocr_confidence\":0.563,\"char_count\":2874,\"random_id\":1896243987,\"pagerank\":{\"percentile\":0.47393709054079985,\"raw\":8.138363859351185e-08},\"cardinality\":202,\"simhash\":\"1:ef16dd53daca6d88\"},\"last_updated\":\"2023-07-14T17:01:48.520166+00:00\",\"provenance\":{\"date_added\":\"2019-08-29\",\"batch\":\"2018\",\"source\":\"Harvard\"},\"casebody\":{\"status\":\"ok\",\"data\":{\"corrections\":\"\",\"parties\":[\"John
        Thornton and others, Appellants, v. George Smiley and John Bradshaw, Appellees.\"],\"attorneys\":[],\"opinions\":[{\"author\":null,\"text\":\"Opinion
        of the Court. The court knows of no power in the administrator, by virtue
        of the trust conferred on him by law, to loan the money belonging to the estate
        ; if he does it, he acts upon his own responsibility, and renders himself
        liable to the estate. The note was made to West alone, and for that reason,
        the suit should have been commenced in his name, and a joinder of his co-administrators
        was improper, as no right of action, to recover th[...]
