interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.courtlistener.com/api/rest/v3/dockets/260804/
  response:
    body:
      string: '{"resource_uri":"https://www.courtlistener.com/api/rest/v3/dockets/260804/","id":260804,"court":"https://www.courtlistener.com/api/rest/v3/courts/cafc/","court_id":"cafc","original_court_info":null,"idb_data":null,"clusters":["https://www.courtlistener.com/api/rest/v3/clusters/2673149/"],"audio_files":[],"assigned_to":null,"referred_to":null,"absolute_url":"/docket/260804/oracle-america-inc-v-google-inc/","date_created":"2014-10-30T00:59:29.076291-07:00","date_modified":"2023-08-31T00:18:49.383005-07:00","source":16,"appeal_from_str":"","assigned_to_str":"","referred_to_str":"","panel_str":"","date_last_index":null,"date_cert_granted":null,"date_cert_denied":null,"date_argued":null,"date_reargued":null,"date_reargument_denied":null,"date_filed":null,"date_terminated":null,"date_last_filing":null,"case_name_short":"","case_name":"Oracle
        America, Inc. v. Google Inc.","case_name_full":"","slug":"oracle-america-inc-v-google-inc","docket_number":"2013-1021,
        2013-1022","docket_number_core":"","pacer_case_id":"","cause":"","nature_of_suit":"","jury_demand":"","jurisdiction_type":"","appellate_fee_status":"","appellate_case_type_information":"","mdl_status":"","filepath_ia":"","filepath_ia_json":"","ia_upload_failure_count":null,"ia_needs_upload":null,"ia_date_first_change":null,"date_blocked":null,"blocked":false,"appeal_from":null,"tags":[],"panel":[]}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.courtlistener.com/api/rest/v3/clusters/2673149/
  response:
    body:
      string: "{\"resource_uri\":\"https://www.courtlistener.com/api/rest/v3/clusters/2673149/\",\"id\":2673149,\"absolute_url\":\"/opinion/2673149/oracle-america-inc-v-google-inc/\",\"panel\":[],\"non_participating_judges\":[],\"docket_id\":260804,\"docket\":\"https://www.courtlistener.com/api/rest/v3/dockets/260804/\",\"sub_opinions\":[\"https://www.courtlistener.com/api/rest/v3/opinions/2673149/\"],\"citations\":[{\"volume\":750,\"reporter\":\"F.3d\",\"page\":\"1339\",\"type\":1}],\"date_created\":\"2015-12-02T08:49:17.791662-08:00\",\"date_modified\":\"2023-08-31T00:18:49.384672-07:00\",\"judges\":\"O'Malley,
        Plager, Taranto\",\"date_filed\":\"2014-05-09\",\"date_filed_is_approximate\":false,\"slug\":\"oracle-america-inc-v-google-inc\",\"case_name_short\":\"\",\"case_name\":\"Oracle
        America, Inc. v. Google Inc.\",\"case_name_full\":\"ORACLE AMERICA, INC.,
        Plaintiff-Appellant, v. GOOGLE INC., Defendant-Cross-Appellant\",\"scdb_id\":\"\",\"scdb_decision_direction\":null,\"scdb_votes_majority\":null,\"scdb_votes_minority\":null,\"source\":\"CU\",\"procedural_history\":\"\",\"attorneys\":\"E.
        Joshua Rosenkranz, Orrick, Herring-ton & Sutcliffe LLP, of New York, New York,
        argued for plaintiff-appellant. With him on the brief were Mark S. Davies,
        Andrew D. Silverman, Kelly M. Daley; and Annette L. Hurst, Gabriel M. Ramsey,
        and Elizabeth C. McBride, of San Francisco, CA. Of counsel on the brief were
        Dorian E. Daley, Deborah K. Miller, Matthew Sarboraria, and Andrew C. Temkin,
        Oracle America, Inc., of Redwood Shores, CA; and Dale M. Cen[...]
